{{#if resume.languages.length}}
<section class="section-languages">
	{{>title title='Languages'}}
	{{#each resume.languages}}
	<div class="item">
		{{#if language}}
		<div class="language">
			<div class="tongue">{{language}}</div>
			{{#if fluency}}
			<div class="fluency"><em>{{fluency}}</em></div>
			{{/if}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
