body {
	background: #E5DED4;
	font: 15px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	color: #929292;
}

.container{
	margin: 0 auto;
	padding: 10%;
}

#resume{
	border-radius: 5px;
	border: 1px solid #C7C7C7;
	overflow: hidden;
}

section{
	margin-bottom: 5rem;
}

[class^="section-"] > .title {
  text-transform: uppercase;
  padding: 15px 0;
  margin: 0;
}
[class^="section-"] > .title .title-icon,
[class^="section-"] > .title span {
  display: inline-block;
  vertical-align: middle;
}
[class^="section-"] > .title span {
  margin-left: 2px;
}
[class^="section-"] > .title .title-icon {
  background-color: whitesmoke;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem 0.45rem;
}

/* Sidebar */
.sidebar{
	padding: 2rem;
	background: #333438;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
.sidebar, .sidebar h1, .sidebar h2{
	color: #ffffff;
}
.sidebar h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
	font-weight: bold;
	margin-top: 5rem;
}
.avatar{
	margin: 5rem 0;
	text-align: center;
}
.avatar img{
	width: 90%;
}
.section-education .item{
	margin-bottom: 3rem;
}
.section-education .studyTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}
.section-education .courses{
	font-size: 1.2rem;
}
.section-education ul.courses {
  list-style-type: none;
	margin: 0.5rem 0 0.5rem 0;
	padding: 0;
}
.section-education .ul.courses li{
	margin:0;
}
.section-education .institution{
	font-size: 1.2rem;
}
.section-education .date{
	font-size: 1.2rem;
}
.sidebar a:link, .sidebar a:hover, .sidebar a:visited{
	text-decoration: none;
	color: #fff;
}

/* Content */
.content{
	padding: 5rem;
	background: #FFFFFF;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
.content h1 {
  color: #3C3C3C;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1.0rem;
	font-weight: bold;
}
.content h2{
	color: #6D6D6D;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
	font-weight: bold;
	margin-top: 5rem;
}
.content a:link, .content a:hover, .content a:visited{
	text-decoration: none;
	color: #6D6D6D;
}

/* Sections */
.section-name{
	margin: 5rem 0 10rem 0;
}
.section-name h2{
	color: #6D6D6D;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
	font-weight: bold;
	margin-top: 5rem;
}

.section-summary{
	text-align: justify;
}

.section-work .item{
	margin-bottom: 2.5rem;
}
.section-work .item .position{
	font-weight: bold;
	color: #333438;
	text-transform: uppercase;
}
.section-work .item .company {
    padding: 0.5rem 0 0.5rem 0;
		color: #6D6D6D;
		font-weight: bold;
}
.section-work .item .summary, .section-work .item .highlights {
    font-style: italic;
		text-align: justify;
}

.section-volunteer .item{
	margin-bottom: 2.5rem;
}
.section-volunteer .item .position{
	font-weight: bold;
	color: #333438;
	text-transform: uppercase;
}
.section-volunteer .item .company {
    padding: 0.5rem 0 0.5rem 0;
		color: #6D6D6D;
		font-weight: bold;
}
.section-volunteer .item .summary, .section-volunteer .item .highlights {
    font-style: italic;
		text-align: justify;
}


.section-publications .item{
	margin-bottom: 2.5rem;
}
.section-publications .item .name{
	font-weight: bold;
	color: #333438;
	text-transform: uppercase;
}
.section-publications .item .publication {
    padding: 0.5rem 0 0.5rem 0;
		color: #6D6D6D;
		font-weight: bold;
}
.section-publications .item .summary, .section-publications .item .highlights {
    font-style: italic;
		text-align: justify;
}


.section-awards .item .title{
	font-weight: bold;
	color: #333438;
}
.section-awards .item .date, .section-awards .item .awarder{
	font-weight: normal;
	color: #929292;
}
.section-awards .item .summary{
	font-weight: normal;
	font-style: italic;
	text-align: justify;
}

.section-languages .item .language{
	font-weight: bold;
	color: #333438;
}
.section-languages .item .fluency{
	font-weight: normal;
	color: #929292;
}

.section-interests .title{
	font-weight: bold;
}
.section-interests .item {
  margin: 0.8rem 0 0.8rem 0;
  line-height: 1.9rem;
}

.section-skills .item {
  margin-bottom: 1rem;
}


.section-contact .fa {
  padding: 0.8rem 0 0 0;
	background: #fff;
	color: #333438;
	border-radius: 100rem;
	width: 3rem;
	height: 3rem;
	text-align: center;
	margin: -0.4rem 0.8rem 0.8rem 0.5rem;
	float: left;
}

.section-contact ul.contact{
	list-style-type: none;
	margin: 0.5rem 0 0.5rem 0;
	padding: 0;
}
.section-contact ul.contact li{
	margin: 1rem 0 1rem 0;
}

.section-contact ul.profiles{
	list-style-type: none;
	margin: 4rem 0 0.5rem 0;
	padding: 0;
}
.section-contact ul.profiles li{
	margin: 1rem 0 1rem 0;
}

/* Print */
@media print {
	body {
		font: 15px Arial, Helvetica, sans-serif;
		line-height: 1.4;
		color: #929292;
		 -webkit-print-color-adjust: exact;
		}

	.container{
		margin: 0 auto;
		padding: 0;
	}

	#resume{
		overflow: hidden;
	}

	section{
		margin-bottom: 5rem;
	}

	[class^="section-"] > .title {
	  text-transform: uppercase;
	  padding: 15px 0;
	  margin: 0;
	}
	[class^="section-"] > .title .title-icon,
	[class^="section-"] > .title span {
	  display: inline-block;
	  vertical-align: middle;
	}
	[class^="section-"] > .title span {
	  margin-left: 2px;
	}
	[class^="section-"] > .title .title-icon {
	  background-color: whitesmoke;
	  border-radius: 50%;
	  width: 2rem;
	  height: 2rem;
	  padding: 0.4rem 0.45rem;
	}

	/* Sidebar */
	.sidebar{
		padding: 2rem;
		background: #333438;
		margin-bottom: -99999px;
		padding-bottom: 99999px;
	}
	.sidebar, .sidebar h1, .sidebar h2{
		color: #ffffff;
	}
	.sidebar h2{
	  text-transform: uppercase;
	  text-align: center;
	  font-size: 1.5rem;
	  letter-spacing: 0.5rem;
		font-weight: bold;
		margin-top: 5rem;
	}
	.avatar{
		margin: 5rem 0;
		text-align: center;
	}
	.avatar img{
		width: 90%;
	}
	.section-education .item{
		margin-bottom: 3rem;
	}
	.section-education .studyTitle {
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 1.3rem;
	}
	.section-education .courses{
		font-size: 1.2rem;
	}
	.section-education ul.courses {
	  list-style-type: none;
		margin: 0.5rem 0 0.5rem 0;
		padding: 0;
	}
	.section-education .ul.courses li{
		margin:0;
	}
	.section-education .institution{
		font-size: 1.2rem;
	}
	.section-education .date{
		font-size: 1.2rem;
	}
	.sidebar a:link, .sidebar a:hover, .sidebar a:visited{
		text-decoration: none;
		color: #fff;
	}

	/* Content */
	.content{
		padding: 5rem;
		background: #FFFFFF;
		margin-bottom: -99999px;
		padding-bottom: 99999px;
	}
	.content h1 {
	  color: #3C3C3C;
	  text-transform: uppercase;
	  text-align: center;
	  font-size: 4rem;
	  letter-spacing: 1.0rem;
		font-weight: bold;
	}
	.content h2{
		color: #6D6D6D;
	  text-transform: uppercase;
	  text-align: left;
	  font-size: 1.5rem;
	  letter-spacing: 0.5rem;
		font-weight: bold;
		margin-top: 5rem;
	}
	.content a:link, .content a:hover, .content a:visited{
		text-decoration: none;
		color: #6D6D6D;
	}

	/* Sections */
	.section-name{
		margin: 5rem 0 10rem 0;
	}
	.section-name h2{
		color: #6D6D6D;
	  text-transform: uppercase;
	  text-align: center;
	  font-size: 1.5rem;
	  letter-spacing: 0.5rem;
		font-weight: bold;
		margin-top: 5rem;
	}

	.section-summary{
		text-align: justify;
	}

	.section-work .item{
		margin-bottom: 2.5rem;
	}
	.section-work .item .position{
		font-weight: bold;
		color: #333438;
		text-transform: uppercase;
	}
	.section-work .item .company {
	    padding: 0.5rem 0 0.5rem 0;
			color: #6D6D6D;
			font-weight: bold;
	}
	.section-work .item .summary, .section-work .item .highlights {
	    font-style: italic;
			text-align: justify;
	}

	.section-volunteer .item{
		margin-bottom: 2.5rem;
	}
	.section-volunteer .item .position{
		font-weight: bold;
		color: #333438;
		text-transform: uppercase;
	}
	.section-volunteer .item .company {
	    padding: 0.5rem 0 0.5rem 0;
			color: #6D6D6D;
			font-weight: bold;
	}
	.section-volunteer .item .summary, .section-volunteer .item .highlights {
	    font-style: italic;
			text-align: justify;
	}


	.section-publications .item{
		margin-bottom: 2.5rem;
	}
	.section-publications .item .name{
		font-weight: bold;
		color: #333438;
		text-transform: uppercase;
	}
	.section-publications .item .publication {
	    padding: 0.5rem 0 0.5rem 0;
			color: #6D6D6D;
			font-weight: bold;
	}
	.section-publications .item .summary, .section-publications .item .highlights {
	    font-style: italic;
			text-align: justify;
	}


	.section-awards .item .title{
		font-weight: bold;
		color: #333438;
	}
	.section-awards .item .date, .section-awards .item .awarder{
		font-weight: normal;
		color: #929292;
	}
	.section-awards .item .summary{
		font-weight: normal;
		font-style: italic;
		text-align: justify;
	}

	.section-languages .item .language{
		font-weight: bold;
		color: #333438;
	}
	.section-languages .item .fluency{
		font-weight: normal;
		color: #929292;
	}

	.section-interests .title{
		font-weight: bold;
	}
	.section-interests .item {
	  margin: 0.8rem 0 0.8rem 0;
	  line-height: 1.9rem;
	}

	.section-skills .item {
	  margin-bottom: 1rem;
	}


	.section-contact .fa {
	  padding: 0.8rem 0 0 0;
		background: #fff;
		color: #333438;
		border-radius: 100rem;
		width: 3rem;
		height: 3rem;
		text-align: center;
		margin: -0.4rem 0.8rem 0.8rem 0.5rem;
		float: left;
	}

	.section-contact ul.contact{
		list-style-type: none;
		margin: 0.5rem 0 0.5rem 0;
		padding: 0;
	}
	.section-contact ul.contact li{
		margin: 1rem 0 1rem 0;
	}

	.section-contact ul.profiles{
		list-style-type: none;
		margin: 4rem 0 0.5rem 0;
		padding: 0;
	}
	.section-contact ul.profiles li{
		margin: 1rem 0 1rem 0;
	}
}
